<link rel="stylesheet" type="text/css" href="style.css" media="screen, handheld" />
<link rel="stylesheet" type="text/css" href="enhanced.css" media="screen  and (min-width: 40.5em)" />
<!--[if (lt IE 9)&(!IEMobile)]>
<link rel="stylesheet" type="text/css" href="enhanced.css" />
<![endif]-->
.product-img {
  width: 50%;
  float: left;
}
@media screen and (max-width: 40.5em) {
  .product-img {
    width: auto;
    float: none;
  }
}
.product-img {
    width: 50%;
    float: left;
  }
}
.related-products li {
  float: left;
  width: 50%;
}
@media screen and (min-width: 28.75em) {
  .related-products li {
    width: 33.3333333%;
  }
}
@media screen and min-width: 40.5em) {
  .related-products li {
    width: 16.6666667%;
  }
}
